.hero {
    margin: 20px 0;
    &__wrapper {
      background-image: url(../../assets//hero.png);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      width: 100%;
      border-radius: 8px;
      height: 100vh;
      display: flex;
      flex-direction: column;
      padding: 0 0 50px;
    }
    &__toast{
      width: 100%;
      background-color: transparent;
      position: absolute;
      top: 0;
      left: 0;
      color: transparent;
    }
    &__btn {
      padding: 10px 20px;
      background-color: #4c4747;
      color: #fff;
      font-family: random($limit: 10);
      position: relative;
    }
    &__bur {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: auto;
      position: fixed;
      z-index: 999;
      top: 90%;
      left: 45%;
      margin: 0 auto;
      @media (max-width: 600px) {
        left: 30%;
      }
    }
    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      input {
        padding: 10px;
        background-color: transparent;
        &::placeholder {
          color: #fff;
        }
        &::-webkit-input-placeholder {
          text-align: center;
        }
      }
    }
    .bla.bla.bla {
      background-color: transparent;
      padding: 10px;
      backdrop-filter: blur(8px);
    }
  }
  .EZDrawer .EZDrawer__container {
    box-shadow: 0 0 10px 7px rgba(0, 0, 0, 0.4) !important;
  }
  .req__btn {
    width: 100%;
    padding: 10px 0;
    background-color: transparent;
  }

  .req__text{
    color: #fff;
  }