* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}
.container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 15px;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background-color: #F8F8F8;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
  
}


input::selection {
  background-color: white; /* Цвет фона для выбранного текста */
  color: black; /* Цвет текста для выбранного текста */
}

/* caret-color устанавливает цвет мигающего курсора внутри input */
input {
  caret-color: white; /* Замените "red" на желаемый цвет */
}



/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #b9b2b2;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #6e6969;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #000000;
}